body {
    margin: 0;
    font-family: Arial;
    background: #eef2f7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #2b5cff, #4a7cff);
    color: white;
    padding: 15px 30px;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.container {
    padding: 30px;
}

.grid {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-decoration: none;
    color: black;
}

.card img {
    width: 100%;
}

.form-card {
    background: white;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

.form-card input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.form-card button {
    width: 100%;
    background: blue;
    color: white;
    padding: 10px;
    border: none;
}

.auction-card {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 15px;
    gap: 30px;
}

.left img {
    width: 200px;
}

.right {
    flex: 1;
}

.winner {
    background: gold;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.delete {
    background: red;
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
}

.history-item {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.error {
    color: red;
}

.ended {
    color: red;
}