{% extends 'base.html' %}
{% block content %}

<div class="card">

<div class="top-section">

<div>
<img src="/static/uploads/{{auction[3]}}" class="auction-img">
</div>

<div>
<h2>{{auction[1]}}</h2>
<p>{{auction[2]}}</p>

<h3>💰 Base Price: ₹{{auction[5]}}</h3>

<h3 id="timer" style="color:#2563eb;"></h3>

{% if closed %}
<div style="margin-top:15px; padding:15px; background:#d1fae5; border-radius:10px;">
    <h2 style="color:#065f46;">🏆 Auction Winner</h2>
    <p><b>{{winner}}</b></p>
    <p>Final Price: ₹{{highest_amount}}</p>
</div>
{% else %}
<h3>🔥 Highest Bidder: {{highest_bidder}}</h3>
<h3>💰 Highest Amount:₹{{highest_amount}}</h3>
{% endif %}

{% if not closed %}
<form method="POST">
    <input name="amount" id="bidInput" placeholder="Enter bid">
    <button id="bidBtn">Bid</button>
</form>
{% else %}
<div style="margin-top:10px;color:red;font-weight:bold;">
    ⛔ Bidding Closed
</div>
{% endif %}

</div>
</div>

<div class="bid-history">
<h3>Bid History</h3>
<ul>
{% for b in bids %}
<li>
👤 {{b[2]}} | 💰 ₹{{b[3]}}
<span style="color:gray;">⏰ {{b[4]}}</span>
</li>
{% endfor %}
</ul>
</div>

</div>

<script>
let endTime = new Date("{{auction[4]}}").getTime();

function updateTimer() {
    let now = new Date().getTime();
    let distance = endTime - now;

    if (distance <= 0) {
        document.getElementById("timer").innerHTML = "⛔ Auction Closed";

        // disable instantly
        let btn = document.getElementById("bidBtn");
        if (btn) btn.disabled = true;

        let input = document.getElementById("bidInput");
        if (input) input.disabled = true;

        return;
    }

    let m = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    let s = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("timer").innerHTML =
        "⏳ " + m + "m " + s + "s";
}

// ⏱ timer every second
setInterval(updateTimer, 1000);

// 🔄 refresh every 2s to show winner fast
setInterval(function(){
    location.reload();
}, 10000);
</script>

{% endblock %}