{% extends "base.html" %}

{% block content %}

<div class="card shadow p-4">

<h2>Create Auction</h2>

<form method="POST" enctype="multipart/form-data">

<div class="mb-3">
<label>Title</label>
<input type="text" name="title" class="form-control" required>
</div>

<div class="mb-3">
<label>Starting Price</label>
<input type="number" name="price" class="form-control" required>
</div>

<div class="mb-3">
<label>End Date & Time</label>
<input type="datetime-local" name="end_time" class="form-control" required>
</div>

<div class="mb-3">
<label>Upload Image</label>
<input type="file" name="image" class="form-control">
</div>

<button class="btn btn-success w-100">
Create Auction
</button>

</form>

</div>

{% endblock %}