{% extends "base.html" %}

{% block content %}

<h2>Auctions</h2>

<a href="/create-auction" class="btn btn-primary mb-3">Create Auction</a>

<div class="row">

{% for auction in auctions %}

<div class="col-md-4">

<div class="card shadow-lg mb-4">

{% if auction.image %}
<img src="{{ url_for('static', filename='uploads/' + auction.image) }}"
class="card-img-top"
style="height:220px;object-fit:cover;">
{% endif %}

<div class="card-body">

<h5>{{ auction.title }}</h5>

<p>Starting Price ₹{{ auction.starting_price }}</p>

<a href="/auction/{{ auction.id }}" class="btn btn-dark w-100">

View Auction

</a>

</div>

</div>

</div>

{% endfor %}

</div>

{% endblock %}