<!DOCTYPE html>
<html>
<head>
<title>Auction Sphere</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=6">
</head>
<body>

<div class="navbar">
<h2>AuctionSphere</h2>
<input type="text" id="search" placeholder="Search items...">

<div>
{% if session.get('user') %}
<span>{{ session['user'] }}</span>
<a href="/create_auction">Sell</a>
<a href="/logout">Logout</a>
{% else %}
<a href="/login">Login</a>
<a href="/register">Register</a>
{% endif %}
</div>
</div>

<div class="grid">

{% for auction in auctions %}
<a href="/auction/{{ auction[0] }}" style="text-decoration:none;color:black;">
<div class="card">

<img src="/uploads/{{ auction[3] }}" class="card-img">

<div class="card-body">
<h3>{{ auction[1] }}</h3>
<p class="price">₹{{ auction[2] }}</p>
<p class="owner">By {{ auction[5] }}</p>
</div>

</div>
</a>
{% endfor %}

</div>

</body>
</html>